@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --background-siang: #fcfcfc;
    --background-malam: #1a1a1a;
    --warna-malam: #3f42d3;
    --warna-malam-2: #292bb6;
}

body {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    position: sticky;
    top: 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: var(--warna-malam);
    position: sticky;
    top: 0;
}

header .logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

footer{
    background: #0F3D91;
    padding: 15px 40px;
    font-size: 16px;
    color: white;
}

.title-section {
    display: flex;
    gap: 5rem;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.title p{
    margin-bottom: 50px;
    text-align: justify;
}

.title a{
    text-decoration: none;
    color: white;
    background-color: var(--warna-malam);
    padding: 1rem;
    border-radius: 10px;
}

.banner img{
    width: 400px;
}

.title a:hover{
    background-color: var(--warna-malam-2);
}

.Main-Explain{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-color: var(--warna-malam);
}

.information{
    display: flex;
    justify-content: space-between;
    width: 69%;
    gap: 2rem;
}

.information h1{
    background-color: #ee0000;
    color:  #F5FEFD;
    display: inline-block;
    padding: 0px 5px;
    text-align: center;
    border-radius: 10px;
    margin-top: 0;
    white-space: nowrap;
}

.information p{
    margin-top: 0;
    text-align: justify;
    color: var(--background-siang);
    width: 75%;
}

.container{
    justify-content: center;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    text-align: justify;
}

.container .card{
    width: 300px;
    height: 200px;
    background-color: var(--background-siang);
    border: 2px solid var(--background-malam);
    box-shadow: 0px 5px;
    padding: 15px;
    border-radius: 10px;
}

.container .card2{
    width: 300px;
    height: 200px;
    background-color: var(--warna-malam-2);
    padding: 15px;
    border-radius: 10px;
    border: 2px solid var(--background-malam);
    box-shadow: 0px 5px;
}

.card3{
    width: 300px;
    margin-top: 30px;
    height: 200px;
    background-color: #f1f1f1;
    border: 2px solid var(--background-malam);
    box-shadow: 0px 5px;
    padding: 15px;
    border-radius: 10px;
    text-align: justify;
}

.card h3{
    background-color: var(--warna-malam-2);
    color: var(--background-siang);
    padding: 0px 5px;
    width: 23%;
    text-align: center;
    justify-items: center;
}

.card2 h3{
    background-color: var(--background-siang);
    color: var(--background-malam);
    padding: 0px 5px;
    width: 42%;
    text-align: center;
    justify-items: center;
}

.card3 h3{
    background-color: var(--warna-malam-2);
    color: var(--background-siang);
    padding: 0px 5px;
    width: 26%;
    text-align: center;
    justify-items: center;
}

.card a, .card3 a{
    text-decoration: none;
    color: var(--warna-malam);
    font-weight: bold;
}
.card2 a{
    text-decoration: none;
    color: var(--background-siang);
    font-weight: bold;
}


.Product{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-product{
    width: 600px;
}

.Product .banner{
    width: 150px;
}