
body {
    font-family: Arial, sans-serif;

    
    min-height: 100vh; 
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;     
}

body img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.login-container {
    width: 90%;
    max-width: 380px;
}

h2 {
    text-align: center;
    color: #ffffff; 
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 30px; 
    font-size: 28px;
}


form {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 15px; 
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3); 
    border: 1px solid rgba(255, 255, 255, 0.5);
}


label {
    display: block;     
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: 600; 
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 16px; 
}


input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #dcdcdc; 
    border-radius: 8px;
    box-sizing: border-box; 
    transition: border-color 0.3s; 
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #4068c4; 
    outline: none; 
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}


button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #4068c4;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #1e45a0; 
}