:root{
    --background-siang: #fcfcfc;
    --background-malam: #1a1a1a;
    --warna-malam: #3f42d3;
}

* {
    padding: 0;
    margin: 0;
}

#tampilan {
    background-color: var(--background-siang);
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.container {
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: stretch; 
    gap: 1rem;
    margin: 0.7rem;
    box-sizing: border-box;
}

.left {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 10px;
}

.left h3{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 40px;;
}

#map {
    width: 100%;
    flex-grow: 1; 
    min-height: 500px;
    border-radius: 8px;
}

.right {
    box-sizing: border-box;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
    width: 350px;
    background-color: var(--warna-siang);
    padding: 1.8rem;
    border-radius: 10px;
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.profile{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nama p{
    font-weight: 200;
    font-size: .8rem;
}

.nama h3{
    font-weight: 900;
    font-size: 1.2rem;
}

.profile img{
    width: 50px;
    border-radius: 100%;
}

.status-title { 
    display: flex;
    gap: 0.8rem;
}

.status-content {
    margin: 1rem 0 0 2rem;
}

.log-title {
    display: flex;
    gap: 0.8rem;
}

.log-content{
    height: 250px;
    overflow: scroll;
    margin: 1rem 0 0 2rem;
}

.right li{
    margin-top: 10px;
}

.copyright {
    text-align: center;
    padding: 20px 0;
    color: black;
    width: 100%;
}